
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;

    padding: 1rem;
    border-radius: 20px;
}

.qr-code {
    width: 30%;
}

.content {
    width: 30%;
}